<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
     <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.connection.url">
        	<![CDATA[
        		jdbc:mysql://localhost:3306/imoocper?useUnicode=true&characterEncoding=utf8
        	]]>
        </property>
        <property name="myeclipse.connection.profile">imoocper</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="current_session_context_class">thread</property>
        
        <mapping resource="com/po/User.hbm.xml"/>
        <mapping resource="com/po/Path.hbm.xml"/>
        <mapping resource="com/po/Subject.hbm.xml"/>
        <mapping resource="com/po/Course.hbm.xml"/>
         <mapping resource="com/po/Teacher.hbm.xml"/>
          <mapping resource="com/po/Video.hbm.xml"/>
           <mapping resource="com/po/UserCourse.hbm.xml"/>
            <mapping resource="com/po/UserSubject.hbm.xml"/>
            <mapping resource="com/po/UserVideo.hbm.xml"/>
            <mapping resource="com/po/UserTeacher.hbm.xml"/>
          <mapping resource="com/po/Question.hbm.xml"/>
          <mapping resource="com/po/UserQuestion.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
